In [304]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

%matplotlib inline

In [338]:
player_stats = pd.read_csv('Master.csv')
salaries = pd.read_csv('Salaries.csv')
fielding = pd.read_csv('Fielding.csv')
batting = pd.read_csv("Batting.csv")
pitching = pd.read_csv("Pitching.csv")

In [351]:
player_salaries = pd.merge(player_stats, salaries)
master_stats = player_salaries[['playerID', 'nameGiven', 'deathYear', 'weight', 'height', 'salary', 'yearID', 'teamID']]

Remove duplicate playerID and take their most recent salary (not highest salary)

In [348]:
master_stats_no_dup = master_stats.drop_duplicates(['playerID'], take_last=True)

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  if __name__ == '__main__':

Active Players

In [349]:
active_players = master_stats_no_dup[master_stats_no_dup.deathYear.isnull()]
active_players

,playerID,nameGiven,deathYear,weight,height,salary,yearID,teamID
6,aardsda01,David Allan,NaN,220.0,75.0,500000,2012,NYA
10,aasedo01,Donald William,NaN,190.0,75.0,400000,1989,NYN
11,abadan01,Fausto Andres,NaN,184.0,73.0,327000,2006,CIN
15,abadfe01,Fernando Antonio,NaN,220.0,73.0,1087500,2015,OAK
19,abbotje01,Jeffrey William,NaN,190.0,74.0,300000,2001,FLO
28,abbotji01,James Anthony,NaN,200.0,75.0,400000,1999,MIL
37,abbotku01,Kurt Thomas,NaN,180.0,71.0,600000,2001,ATL
39,abbotky01,Lawrence Kyle,NaN,200.0,76.0,150000,1995,PHI
46,abbotpa01,Paul David,NaN,185.0,75.0,600000,2004,TBA
47,abercre01,Reginald Damascus,NaN,215.0,75.0,327000,2006,FLO
49,abernbr01,Michael Brent,NaN,185.0,73.0,300000,2003,TBA
54,abnersh01,Shawn Wesley,NaN,190.0,73.0,297500,1992,CHA
70,abreubo01,Bob Kelly,NaN,220.0,72.0,9000000,2012,LAA
72,abreujo02,Jose Dariel,NaN,255.0,75.0,8666000,2015,CHA
76,abreuto01,Etanislao Toni,NaN,200.0,70.0,745000,2014,SFN
81,accarje01,Jeremiah Lee,NaN,195.0,72.0,1080000,2011,BAL
84,aceveal01,Alfredo,NaN,205.0,74.0,2650000,2013,BOS
86,acevejo01,Jose Omar,NaN,185.0,72.0,340000,2004,CIN
93,aceveju01,Juan Carlos,NaN,245.0,74.0,900000,2003,NYA
100,ackerji01,James Justin,NaN,210.0,74.0,275000,1992,SEA
104,ackledu01,Dustin Michael,NaN,205.0,73.0,2600000,2015,SEA
106,acostma01,Manuel Alcides,NaN,215.0,76.0,875000,2012,NYN
110,acrema01,Mark Robert,NaN,235.0,80.0,165000,1997,OAK
111,adamsau01,Austin David,NaN,200.0,71.0,507700,2015,CLE
112,adamsda02,David Lee,NaN,205.0,73.0,540000,2013,NYA
114,adamsjo02,Joel Lee,NaN,185.0,76.0,210000,1998,ARI
117,adamsma01,Matthew James,NaN,260.0,75.0,534000,2015,SLN
124,adamsmi03,Jon Michael,NaN,210.0,77.0,7000000,2014,PHI
126,adamsru01,Russ Moore,NaN,205.0,72.0,343000,2006,TOR
137,adamste01,Terry Wayne,NaN,180.0,75.0,500000,2005,PHI
...,...,...,...,...,...,...,...,...
25401,youngjo02,Joel Randolph,NaN,180.0,72.0,320000,1989,CIN
25412,youngke01,Kevin Stacey,NaN,210.0,75.0,6625000,2003,PIT
25419,youngma01,Matthew John,NaN,205.0,75.0,2266667,1992,BOS
25420,youngma02,Matthew Earl,NaN,175.0,68.0,414000,2011,ATL
25425,youngmi01,Michael Darren,NaN,195.0,74.0,150000,1989,CLE
25437,youngmi02,Michael Brian,NaN,200.0,73.0,18374975,2013,PHI
25446,yountro01,Robin R.,NaN,165.0,72.0,2700000,1993,ML4
25448,zagurmi01,Michael Justin,NaN,240.0,72.0,400000,2009,PHI
25449,zahnge01,Geoffrey Clayton,NaN,180.0,73.0,550000,1985,CAL
25459,zambrca01,Carlos Alberto,NaN,275.0,76.0,19000000,2012,MIA
25460,zambred01,Eduardo Jose,NaN,175.0,74.0,112000,1994,CHN
25466,zambrvi01,Victor Manuel,NaN,190.0,72.0,500000,2007,TOR
25481,zaungr01,Gregory Owen,NaN,170.0,70.0,1900000,2010,MIL
25497,zeileto01,Todd Edward,NaN,190.0,73.0,1000000,2004,NYN
25498,zerbech01,William Chad,NaN,190.0,72.0,317000,2003,SFN
25505,zieglbr01,Brad Gregory,NaN,220.0,76.0,5000000,2015,ARI
25511,zimmeje02,Jeffrey Ross,NaN,200.0,73.0,4466667,2004,TEX
25512,zimmejo01,Jordan William,NaN,200.0,72.0,401000,2010,WAS
25517,zimmejo02,Jordan M.,NaN,225.0,74.0,16500000,2015,WAS
25526,zimmery01,Ryan Wallace,NaN,220.0,75.0,14000000,2015,WAS
25529,ziskri01,Richard Walter,NaN,200.0,73.0,272500,1987,SEA
25542,zitoba01,Barry William,NaN,205.0,74.0,20000000,2013,SFN
25551,zobribe01,Benjamin Thomas,NaN,210.0,75.0,7500000,2015,OAK
25552,zoskyed01,Edward James,NaN,175.0,72.0,109000,1992,TOR
25553,zuberjo01,Jon Edward,NaN,190.0,73.0,109000,1996,PHI
25554,zuletju01,Julio Ernesto,NaN,230.0,78.0,200000,2001,CHN
25560,zumayjo01,Joel Martin,NaN,215.0,75.0,1400000,2011,DET
25562,zuninmi01,Michael Accorsi,NaN,220.0,74.0,523500,2015,SEA
25565,zupcibo01,Robert,NaN,220.0,76.0,222000,1993,BOS
25566,zuvelpa01,Paul,NaN,173.0,72.0,145000,1989,ATL

Calculations for OBP

In [ ]:
calc_for_OBP = batting[['playerID', 'H', 'BB', 'HBP', 'SF', 'AB']].copy()
top = calc_for_OBP[['H', 'BB', 'HBP']]
bottom = calc_for_OBP[['AB', 'BB', 'HBP', 'SF']]
# calc_for_OBP.head(10)

In [ ]:
top = top.sum(axis=1)
bottom = bottom.sum(axis=1)

In [ ]:
calc_for_OBP['top_OBP'] = top
calc_for_OBP['bottom_OBP'] = bottom

In [ ]:
OBP = calc_for_OBP['top_OBP'] / calc_for_OBP['bottom_OBP']

In [335]:
calc_for_OBP['OBP'] = OBP

In [ ]:
calc_for_OBP.tail()

In [ ]:
clean_OBP = calc_for_OBP[calc_for_OBP.OBP.isnull()==False]

In [ ]:
clean_OBP.head(100)

In [ ]:
player_stats